* {
  box-sizing: border-box;
}

.timeline p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  margin: 0;
  font-size: 10px;
  border-color: rgb(108, 200, 175);
  margin-right: -15px;
  margin-left: -8px;
}

.timeline h2 {
  color: aliceblue;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  margin-right: -15px;
  margin-left: -8px;
}

header {
  margin-bottom: 3rem;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.decorated {
  overflow: hidden;
  margin-left: 30px;
}

.decorated > span {
  position: relative;
  display: inline-block;
}

.decorated > span:after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 0.5px solid;
  width: 80vw;
  margin: 0 20px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 4rem;
  margin-left: 3rem;
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: rgb(103, 192, 168);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  height: 1050px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: -8px;
  background-color: rgb(103, 192, 168);
  border: 2px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgb(103, 192, 168);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(103, 192, 168);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgb(103, 192, 168);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(103, 192, 168) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -11px;
  width: 15px;
  height: 15px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  padding-top: 0px;
  background-color: rgba(4, 0, 48, 1);
  position: relative;
  border-radius: 6px;
  border: 2px solid rgb(108, 200, 175);
  border-radius: 15px;
}

/* @media screen and (max-width: 300px) {
TBC
} */

@media screen and (max-width: 600px) {
  .timeline p {
    font-size: 10px;
    padding: 5px;
  }

  .timeline h2 {
    font-size: 14px;
    margin: 0px;
    margin-left: -2px;
  }

  header {
    margin-bottom: 3rem;
    margin-left: -0rem;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  /* Place the timelime to the left */
  .timeline {
    margin-left: 30px;
  }

  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid rgb(108, 200, 175);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgba(80, 144, 127, 1) transparent transparent;
  }

  .content {
    padding: 1rem;
    margin-right: 10px;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 19px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

@media screen and (min-width: 750px) {
  .timeline p {
    font-size: 12px;
  }
  .timeline h2 {
    font-size: 18px;
  }
  header {
    font-size: 20px;
  }
}

@media screen and (min-width: 900px) {
  .timeline p {
    font-size: 14px;
  }
  .timeline h2 {
    font-size: 23px;
  }
  header {
    font-size: 28px;
  }
}
