htmnl {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
body {
  background-color: rgb(6, 2, 54);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

section {
  margin-bottom: 90%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mainText {
  margin: 3rem;

  grid-area: mainText;
}
#background_img {
  height: auto;
  width: 100%;
}

#Hello-txt {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0;
  font-size: 32px;
  color: rgb(103, 192, 168);
}

#Junior-txt {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 29px;
  color: rgba(80, 144, 127, 1);
}

#SD-txt {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  margin: 0;
  font-size: 28px;
}

#description-txt {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
  margin-top: 5px;
  margin-bottm: 20px;
  font-size: 16px;
}

.button_slide {
  color: rgb(103, 192, 168);
  border: 2px solid rgba(80, 144, 127, 1);
  border-radius: 10px;
  padding: 0.5rem;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgba(80, 144, 127, 1);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 rgba(80, 144, 127, 1);
  color: white;
}

.slide_right:hover {
  box-shadow: inset 200px 0 0 0 rgba(80, 144, 127, 1);
  color: white;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 200px rgba(80, 144, 127, 1);
  color: white;
}

.twoSmallBTS {
  display: flex;

  margin-bottom: 10px;
  align-items: center;
  grid-area: twoSmallBTS;
}

.bigBT {
  grid-area: bigBT;
}

#HomePageButtons {
  margin: auto;
  display: grid;
  grid-template:
    "twoSmallBTS"
    "bigBT";
  text-align: center;
  grid-area: HomePageButtons;
  margin-top: 5%;
  margin-left: 25%;
  margin-bottom: 40%;
}

#about_me {
  width: 100px;
  margin-left: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  grid-area: about_me;
}

#see_my_work {
  width: 100px;
  margin-right: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  grid-area: see_my_work;
}

#contact_me {
  width: 230px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  grid-area: contact_me;
}

footer {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  margin-left: 1rem;
  font-size: 12px;
  grid-area: footer;
  position: absolute;
  bottom: 10px;
}

#contact_details {
  margin: 0;
}

#CV {
  margin: 0;
}

@media (max-width: 360px) {
  #mainText {
    margin-top: 50px;
    margin-bottom: 11px;
  }

  #Hello-txt {
    font-size: 28px;
  }

  #Junior-txt {
    font-size: 23px;
  }

  #SD-txt {
    font-size: 18px;
  }
  #description-txt {
    font-size: 13px;
  }

  .button_slide {
    border: 2px solid rgba(80, 144, 127, 1);
    padding: 0.2rem;
    font-size: 11px;
    letter-spacing: 0.5px;
  }
  .twoSmallBTS {
    margin-bottom: -4px;
  }

  /* #about_me {
    width: 90px;
    margin-left: 4px;
  }

  #see_my_work {
    width: 90px;
    margin-right: 4px;
  }

  #contact_me {
    width: 200px;
    margin: 0px;
  }

  #HomePageButtons {
    margin-top: 0px;
  } */

  /* footer {
    font-size: 11px;
  } */
}

@media (min-width: 700px) {
  #mainText {
    margin-top: 60px;
    margin-bottom: 11px;
    margin-left: 120px;
  }

  #Hello-txt {
    font-size: 45px;
  }

  #Junior-txt {
    font-size: 40px;
  }

  #SD-txt {
    font-size: 40px;
  }
  #description-txt {
    font-size: 20px;
  }

  /* .button_slide {
    border: 2.5px solid rgba(80, 144, 127, 1);
    padding: 0.6rem;
    font-size: 14px;
    letter-spacing: 1px;
  } */
  /* #about_me {
    width: 120px;
  }

  #see_my_work {
    width: 120px;
  }

  #contact_me {
    width: 275px;
  }

  #HomePageButtons {
    margin-top: 12px;
  } */
}

@media (min-width: 1000px) {
  .App {
    display: grid;
    grid-template-areas:
      "mainText background_img"
      "HomePageButtons background_img"
      "footer background_img";
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 40% 10%;
    padding: 0px;
    margin: 0px;
  }

  #background_img {
    height: 100vh;
    width: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
  }

  #mainText {
    margin-top: 30%;
    margin-bottom: 0;
    height: 0px;
    margin-left: 40px;
  }
  #HomePageButtons {
    margin-left: 10%;
    margin-top: 30%;
  }

  #Hello-txt {
    font-size: 35px;
  }

  #Junior-txt {
    font-size: 30px;
  }

  #SD-txt {
    font-size: 26px;
  }

  #description-txt {
    font-size: 13px;
    margin-right: 30%;
    width: 260px;
  }

  .button_slide {
    border: 2.5px solid rgba(80, 144, 127, 1);
    padding: 0.4rem;
    font-size: 12px;
    letter-spacing: 1px;
  }
  #about_me {
    width: 110px;
  }

  #see_my_work {
    width: 110px;
  }

  #contact_me {
    width: 255px;
  }

  footer {
    margin-left: 35px;
  }
}
