#ContactPage {
  display: flex;
  flex-direction: column;
}

.button_slide {
  color: rgb(103, 192, 168);
  border: 2px solid rgb(103, 192, 168);
  border-radius: 10px;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgb(108, 200, 175);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 200px rgb(108, 200, 175);
  color: white;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

#CVBtn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-left: 5%;
  height: 45px;
}

#CVBtn a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  margin: 5px;
  margin-left: -5px;
  padding: 0px;
  font-size: 13px;
}

.contactBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contactBox img {
  width: 100px;
  height: auto;
  padding: 1rem;
  margin-left: 18%;
}

.contactBox p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 13px;
  padding: 1rem;
}

.aos-init.aos-animate {
  text-decoration: none;
}

.contactHeader {
  margin-left: 30px;
}

h1#contact-title.decorated.title span::after {
  width: 500px;
  margin-bottom: -10%;
  margin-left: auto;
  overflow: visible;
}

@media screen and (max-width: 300px) {
  #ContactPage,
  #AboutMe,
  #homepage {
    max-width: 300px;
  }
  div.contactBox {
    width: 220px;
    margin-left: -5%;
  }

  #ContactPage {
    flex-direction: column;
  }
  .contactBox {
    flex-direction: column;
    margin: auto;
  }
  .contactBox p {
    margin-left: 40%;
    overflow: visible;
  }

  .contactBox img {
    margin-left: 40%;
  }

  #CVBtn a {
    width: 100px;
    margin-left: 0%;
  }

  p.email.aos-init.aos-animate {
    margin-left: 45%;
  }
  #CVBtn {
    margin-left: 45%;
    width: 200px;
    margin-top: 20px;
    height: 45px;
  }
}

@media screen and (min-width: 600px) {
  .contactBox p {
    font-size: 18px;
  }
  #CVBtn a {
    font-size: 18px;
    margin-left: -8px;
  }
  #CVBtn {
    margin-left: 2%;
    height: 49px;
  }
}

@media (min-width: 1000px) {
  .contactBox p {
    font-size: 20px;
  }
  #CVBtn a {
    font-size: 20px;
    margin-left: -8px;
  }
  div.CVButton {
    padding-top: 0px;
    margin: auto;
  }

  .contactBox p {
    margin-left: 18%;
  }

  #contact {
    padding-bottom: 0px;
  }
  #CVBtn {
    margin-left: 19%;
  }
}
.contact-title {
  margin: auto;
  margin-left: 30%;
}

div#CV-Download.contactBox {
  padding-top: 7%;
}

div#CV-Download.contactBox span {
  padding: 0.5rem;
}
