div#Nav {
  color: white;
  z-index: 9;
  width: 50%;
  border: solid 1px white;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: -30px;
}

#NavTxt {
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 18px;
  list-style: none;
  z-index: 9;
}
