#miniNav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 13px;
  border: 1px solid white;
  padding: 0.5rem;
  margin-left: 40px;
  margin-right: 40px;
}
.projects {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  margin: 30px;
}

#ProjectsPage {
  width: 100vw;
  height: 100%;
}

#Project3,
#Project2,
#Project1 {
  width: 100%;
  margin: 0, auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: center;
}

#filter {
  position: absolute;
  background-color: rgba(5, 0, 46, 0.306);
}

#filter,
.fadedImg {
  margin-left: -50px;
  margin-top: 50px;
  width: 90%;
  height: 500px;
  border: 0.5px solid rgba(255, 255, 255, 0.09);
}

.contents,
#backgroundBox {
  background: rgba(4, 1, 33, 0.177);
  padding: 1rem;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 13px;
}

#backgroundBox {
  position: absolute;
  margin-top: 30px;
  left: 42px;
  top: -5px;
  z-index: 1000;
  padding: 1rem;
  padding-bottom: 3rem;
  color: #ffffff;
  font-weight: bold;
  width: 85%;
}
.default {
  color: rgb(108, 200, 175);
  text-decoration: underline;
  font-weight: 300;
}

.miniNavLink:hover {
  color: rgb(108, 200, 175);
  text-decoration: underline;
  font-weight: 300;
}

#scrollButton3 {
  margin-top: 700px;
}
